 *{
    border : 100% solid white;
}
/*  */

.company_name{
    color: red;
    padding-bottom: 1px;
}

.navBar_body{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}


.search_bar {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 400px;
}

.navbar_search_div {
    width: 100%;
}

.nav_bar_search_input {
    width: 90%;
    padding: 9px 80px 8px 115px;
    /* Space on the right for the button */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.search_bar_button {
    position: absolute;
    right: 10px;
    top: 20%;
    transform: translateY(-50%);
}

.search {
    border: none;
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    /* padding: 10px; */
    border-radius: 20px;
    cursor: pointer;
}
/*  */

.second_line_div{
    /* border-radius: 100px; */
    background-color: rgb(150, 87, 232);;
    padding-top: 2px;
}


/*  */
/* .cartlogo {
    position: relative;
    display: inline-block;
} */

.cartlogo img {
    width: 150px;
    height: 33px;
}

.cartCount {
    padding-top: 18px;
    position: relative;
    top: 0;
    right: 0;
    background-color: rgba(31, 30, 34, 0.731);
    color: white;
    font-size: 12px;
    padding: 6px;
    border-radius: 50%;
    transform: translate(50%, -50%);
    font-weight: bold;
}

.login_logout_and_cartDiv{
    display: flex;
    gap: 25px;
    /* justify-content:space-around; */
    /* margin: 0 0 0 20rem; */
}
 .Logoutbutton{
    color: rgb(239, 232, 232);
    background-color: rgb(255, 3, 3);
    border-radius: 10px;
    height: 40px;
    width: 80px;
    border: #333;
    /* padding-top: 1px; */
    cursor: pointer;
}
.Loginbutton{
    color: rgb(102, 14, 216);
    background-color: rgb(185, 210, 231);
    border-radius: 10px;
    height: 40px;
    width: 80px;
    border: #333;
    cursor: pointer;
}
.second_navbar{
    background-color: rgb(237, 229, 229);
    border:100px;
    color: red;
    border-radius: 10px;
    width: 100%;
    display: flex;
}
.second_navbar_ProductFlyer{
    background-color: hwb(305 78% 13% / 0.612);
    /* padding-top: 1px; */
    /* background-color: rgb(150, 87, 232); */
    padding-top: 2px;
}
.second_navbar_ProductFlyer {
    overflow:hidden;
    position: relative;
    background-color: rgb(150, 87, 232);
    /* Optional: Background color */
    padding: 1px 0;
    /* Optional: Padding for better visuals */
}

.marquee {
    display: inline-flex;
    /* Place items in a single line */
    animation: marquee 30s linear infinite;
}

.modern,
.modern2 {
    margin: 0 20px;
    font-size: 30px; /* Adjust font size */
    color: #333;   /* text color*/
}
/* Scrolling animation */
@keyframes marquee {
    0% {
        transform: translateX(80%);
        /* Start off the screen to the right */
    }
    100% {
        transform: translateX(-100%);
    }
}
.firstDivDisplay{
    display: flex;
    justify-content: center;
}
.welcomeImg{
    height: 640px;
    width: 600px;
}
.welcomeWoman{
    width: 513px;
}



